/* todo: implement grid breakpoints */

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 5px;
}

.post-row {
  display: flex;
  flex-direction: row;
}

.post {
  width: 130px;
  height: 130px;
  border: 1px solid #ffffff;
  padding: 15px;
  margin-bottom: 20px;
}

.posts a {
  color: #ffffff
}